.idea
artifacts
node_modules
learn
#Hardhat files
cache
_artifacts
_oldContracts
_pendingContracts
_ganache-cli-db
hardhat.config.ts
.idea
artifacts
scripts/localhost-contract-addresses.json
.openzeppelin
scripts/_wip
scripts/localhost-contract-addresses.json